/* Login Page Styles */

.page-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--sl-color-neutral-50);

  footer {
    font-size: var(--sl-font-size-x-small);
    margin-top: var(--sl-spacing-large);
  }
}

.login-card {
  max-width: 30ch;
  width: 100%;
}

.login-card::part(base) {
  border-radius: var(--sl-border-radius-large);
  box-shadow: var(--sl-shadow-large);
}

.login-card [slot="header"] {
  text-align: center;
}

.login-card h3 {
  margin: 0;
  font-weight: var(--sl-font-weight-semibold);
  color: var(--sl-color-neutral-900);
}

.login-content {
  display: flex;
  flex-direction: column;
  gap: var(--sl-spacing-large);
  text-align: center;
  
  p {
    margin: 0;
    color: var(--sl-color-neutral-500);
  }
}
